<section data-ng-controller="PostsController" data-ng-init="find()">

<!-- <div class="col-md-4">
		<form class="inline">
				<div class="input-group">
						<input type="text" class="form-control" data-ng-model="searchBox" placeholder="Search moments">
						<span class="input-group-btn">
								<button class="btn btn-md btn-default">
										<span class="glyphicon glyphicon-search"></span>
								</button>
						</span>
				</div>
		</form>
</div>
<br />
<br /> -->

<!-- <span data-ng-click="openViewer(news.thumbnail[1], news.title)"> <img data-ng-show="news.thumbnail !== null" ng-src="{{news.thumbnail[1]}}" height="220" width="360" alt="..."> -->


<div infinite-scroll="loadPosts()" infinite-scroll-distance="3">
		<div class="col-centered" masonry preserve-order masonry-options="{ transitionDuration: 0 }">

			<div class="gutter-sizer"></div>
			<div class="masonry-brick col-sm-6 col-md-4"
					 data-ng-repeat="post in filteredPosts | filter: {title: searchBox}">

				<div class="card" >
					<span data-ng-click="openViewer(post.extended_entities.media[0].media_url_https, post.text)">
						<div class="card-image">
								<img class="img-responsive" data-ng-src={{post.extended_entities.media[0].media_url_https}} height="376" width="600">
						</div>
						<div class="card-content">
							<div class="media">
<div class="media-left">
	<a href="#">
		<img class="media-object img-rounded" data-ng-src="{{post.tuser.profile_image_url}}" fallback-src="modules/users/img/profile/default.png"  height="28" width="28">
	</a>
</div>
<div class="media-body">
	<span class="media-heading text-capitalize" data-ng-bind="post.tuser.name | lowercase"></span>
	<a data-ng-href="/posts/{{post._id}}"><span class="pull-right" data-ng-bind="post.created_at | timeAgo"></span></a><br>
	<span class="text-muted" data-ng-bind="post.tuser.screen_name"></span>
</div>
</div>
            <p data-ng-bind-html="post.text | twemoji"></p>
								<button type="button" id="show" class="btn btn-custom pull-right" aria-label="Left Align">
										<i class="fa fa-ellipsis-v"></i>
								</button>
						</div>
						<div class="card-action">
								<a href="#" target="new_blank" ><i class="mdi mdi-heart-outline"></i> 10</a>
								<a href="#" target="new_blank" class="pull-right"><i class="mdi mdi-share"></i> </a>
						</div>
</span>
						<div class="pull-right" data-ng-controller="PostsController"
	 data-ng-show="((authentication.user) && (authentication.user.username == 'lovell'))">

	<a class="btn btn-primary" data-ng-click="remove(post)">
		<i class="glyphicon glyphicon-trash"></i>
	</a>
</div>



				</div>
		</div>


		</div>
</div>

    <div class="alert alert-warning text-center" data-ng-hide="!posts.$resolved || posts.length">
    	No Posts yet, why don't you <a href="/#!/posts/create">create one</a>?
    </div>
</section>
