html, body {
  background: $backgroundColor !important;
  font-family: $font;
}


.responsive__container {
  margin: 0 auto;
  width: 70%;
  height: 750px;
  z-index: 3;
  margin-top: -60px;

  @media (max-width: 767px) {

    width: 80%;


      }

   @media (min-width:1025px) {

     width: 70%;


  }


}
