.home .menubar {
  display: none;
}
.main-logo {
  float: left;
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin: 14px 0 6px 6px;
}
.main-logo__link {
  position: relative;
  display: block;
  padding: 10px 15px;
  font-size: 24px;
  font-size: 1.5rem;
}
.main-logo li  {
  	padding: 0;

}
.main-logo__link img {
  display: block;
  height: 28px;
}

@media screen and (max-width: 480px) {
  .main-nav--lap-and-up {
    display: none;
  }
}
@media screen and (min-width: 481px) {
  .main-nav--palm {
    display: none;
  }
}
.main-nav__link {
  display: block;
  padding: 0 12px;
  border-radius: 2px;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 500;
  color: white;
  line-height: 36px;
  text-decoration: none;
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .main-nav__link {
    font-size: 14px;
    font-size: 0.875rem;
  }
}


.dropdown-link {
  min-width: 140px;
}

.header--nav__profile-image {
	opacity: 0.8;
	height: 28px;
	width: 28px;
	border-radius: 50%;
	margin-right: 5px;
}

.header--nav__profile__name {
	text-transform: capitalize;

}
.open  .header--nav__profile-image,
a:hover .header--nav__profile-image {
	opacity: 1;
}

.user-header-dropdown-toggle {
	padding-top: 11px !important;
	padding-bottom: 11px !important;
}

.navbar-default {
    background-color: $primaryColor;
    border-color: #FFF;
}

.navbar-twitch {
	position: fixed;
  top: 0;
  left: 10px;
	width: 50px;
	height: 100%;
	border-radius: 0;
	border: 0;
    z-index: 1030;
}
.navbar-twitch.open {
	width: 240px;
}
.navbar-twitch > .container {
	padding: 0;
	width: 100%;
}
.navbar-twitch .navbar-header,
.navbar-twitch .navbar-brand {
	float: none;
	display: block;
	width: 100%;
	margin: 0;
}
.navbar-twitch .navbar-brand {
    height: 50px;
}
.navbar-twitch > .container .navbar-brand {
	padding: 0;
	margin: 0;
}
.navbar-twitch > .container .navbar-brand > .small-nav {
	display: block;
}
.navbar-twitch > .container .navbar-brand > .small-nav > span.logo,
.navbar-twitch.open > .container .navbar-brand > .full-nav {
    display: block;
	font-weight: bold;
	padding: 15px 2px 15px 3px;
	font-size: 18pt;
}
.navbar-twitch.open > .container .navbar-brand {
	width: 100%;
	padding: 15px 15px 60px;
	text-align: center;
}

.navbar-twitch .navbar-nav > li {
	float: none;
}
.navbar-twitch > .container .full-nav {
	display: none;
}
.navbar-twitch.open > .container .full-nav {
	display: block;
}
.navbar-twitch.open > .container .small-nav {
	display: none;
}
.navbar-twitch .navbar-collapse {
	padding: 0;
}
.navbar-twitch .navbar-nav {
	float: none;
	margin: 0;
}
.navbar-twitch .navbar-nav > li > a {
	padding: 0;
}
.navbar-twitch .navbar-nav > li > a > span {
	display: block;
	font-size: 18pt;
	padding: 13px 15px 13px 12px;
}
.navbar-twitch .tooltip,
.navbar-twitch .tooltip .tooltip-inner {
	max-width: auto;
	white-space:nowrap;
}
.navbar-twitch-toggle {
	position: fixed;
	top: 5px;
	left: 55px;
}
.navbar-twitch ~ .navbar-twitch-toggle > .nav-open {
	display: inline-block;
}
.navbar-twitch ~ .navbar-twitch-toggle > .nav-close {
	display: none;
}
.navbar-twitch.open ~ .navbar-twitch-toggle {
	left: 245px;
}
.navbar-twitch.open ~ .navbar-twitch-toggle > .nav-open {
	display: none;
}
.navbar-twitch.open ~ .navbar-twitch-toggle > .nav-close {
	display: inline-block;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: $accentColor !important;
    background-color: transparent !important;
}
